[% basename %]
===================================================================================================

[% IF n_visible_routines gt 0 %]
[% FOREACH r IN visible_routines %][% SCOPE r %]

[% IF has_commheader %]
________________________________________________________________________________________________________________________

[% name %]


[% commheader %]

________________________________________________________________________________________________________________________
[% END %]
[% END %][% END %]

[% IF statistics %]
- File attributes


- Modification date

[% modification_time %]

-Lines


[% n_lines %]

[% IF format ne '' || markup ne '' %]
- Docformat
[% format %][% IF format ne '' %] [% END %][% markup %]
[% END %]

[% END %]

[% END %]


